package p

type Variant string
const (
	Header Variant  = "header"
	Default Variant = "default"
)

type PProps struct {
	Label   string
	Variant Variant
}

func getClasses(variant Variant) string {
	if variant == Header {
		return "text-6xl font-bold"
	}
	return ""
}

templ P(props PProps) {
	<p class={ getClasses(props.Variant) }>{ props.Label }</p>
}
